body{

    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aliceblue;
}

main{

    height: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

h1.title{
    height: 0%;
    text-align: center;
    padding: 2rem 0;
    margin-bottom: 1rem;
}

aside{

    display: flex;
    flex-direction: column;
    align-items: center;
}

aside div.marks > button{

    padding: 2.5rem 6rem;
    font-size: 3rem;
    border-radius: 25px;
    border: 1px solid white;
}

aside div.marks button:nth-child(1){

    background-color: #FFD166;
    color: #FFFCF9;
}

aside div.marks button:nth-child(1).inactive{

    display: none;
}

aside div.marks button:nth-child(2).inactive{

    display: none;
}

aside div.marks button:nth-child(1):hover{

    background-color: #FFE066;
    cursor: pointer;
}

aside div.marks button:nth-child(2){

    background-color: #26547C;
    color: #FFFCF9;
}

aside div.marks button:nth-child(2):hover{

    background-color: #247BA0;
    cursor: pointer;
}

aside > button{

    padding: 1.5rem 4rem;
    margin-bottom: 2rem;
    border: 1px solid black;
    border-radius: 9999px;
    background-color: #101419;
    color: #FFFCF9;
}

aside > button:hover{

    background-color: #50514F;
    cursor: pointer;
}

div.grid{
    
    display: grid;
    background-color: white;
    grid-template-columns: repeat(3, 157px);
    grid-template-rows: repeat(3, 157px);
}

footer{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}

.current-mark{

    font-size: 48px;
}

div.box{

    border: 1px solid black;
    text-align: center;
    font-size: 110px;
}

.marks{

    margin-bottom: 1rem;
}

h2.directions {
    text-align: center;
}

@media (max-width: 1288px) {

    aside div.marks > button{

        padding: 1rem 6rem;
    }

    aside > button{

        padding: 1.25 4rem;
    }

    aside{

        height: 30%;
        gap: 16px;
    }
}

@media(max-width: 1060px){

    div.grid{
        
        display: grid;
        background-color: white;
        grid-template-columns: repeat(3, 125px);
        grid-template-rows: repeat(3, 125px);
    }

    .marks{

        display: flex;
    }

    main{
        
        flex-direction: column;
        padding-bottom: 50px;
        height: 100%;
    }

    .marks > button:nth-child(1), .marks > button:nth-child(2){

        padding: 0.75rem 4.5rem;
    }

    footer{

        display: none;
    }
}

@media(max-width: 375px) {

    div.grid{
        display: grid;
        background-color: white;
        grid-template-columns: repeat(3, 115px);
        grid-template-rows: repeat(3, 115px);
    }
    .directions {
        display: none
    }
    aside {
        justify-content: flex-end;
    }
}